canvas{
	border: 1px solid #000;
	cursor:	hand;
}

.cope{
	position: absolute;
	height: 50px;
	width: 50px;
	background: url("img/right.jpg");
}

#GoMission{
	width: 200px;
	height: 80px;
	position: absolute;
	cursor: hand;
	//border: 1px solid #f00;
}

#runs{
	position: absolute;
}

.toola{
	float: left;
}

#toolslc{
	position: absolute;
	border:	4px solid #1b43e1;
	background-color: #fff;
	width: 143px;
	height: 143px;
	padding-left: 8px;
	padding-top: 8px;
}

.toolifs{
	width: 35px;
	height: 24.5px;
	cursor: hand;
}

.tool{
	float: left;
	width: 35px;
	height: 35px;
	cursor: hand;
}

#toolslc .tool{
	margin: 5px;
}

.tool:hover{
	outline: 4px solid #00C7FF;
}

.toolifs:hover{
	outline: 4px solid #ff8100;
}